<app-header></app-header>

<ng-container *ngIf="recipeTypes; then listRecipeTypes; else spinner"></ng-container>

<ng-template #spinner>
    <app-spinner></app-spinner>
</ng-template>

<ng-template #listRecipeTypes>
    <div class="custom-container">
        <div class="container-image">
            <img src="/assets/images/backgrounds/category-sec-bg.jpg">
        </div>
        <div class="content">
            <div class="content-text">
                <div class="content-title poppin">
                    {{ 'categories.findViewTitle' | translate }} <span class="poppin text-secondary"> {{ 'categories.categoryViewTitle' | translate }} </span> {{ 'categories.discoverViewTitle' | translate }}
                </div>
                <div class="content-subtitle">
                    {{ 'categories.discoverViewDesc' | translate }}
                </div>
            </div>
            <div class="grid-wrapper">
                <div class="grid-title poppin text-secondary">
                    {{ 'categories.popularViewTitle' | translate }}
                </div>
                <div class="grid-inner-wrapper">
                    <ng-container *ngFor="let type of recipeTypes">
                        <div class="grid-tile" [routerLink]="['/categories', type.name]">
                            <div class="grid-tile-img">
                                <img [src]="type.image">
                            </div>
                            <div class="grid-tile-text">
                                <div class="grid-tile-subtitle text-main">
                                    {{ 'commons.category' | translate }}
                                </div>
                                <div class="grid-tile-title">
                                    {{ type.name }}
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <app-favorite-recipes></app-favorite-recipes>
</ng-template>

<app-footer></app-footer>