<app-header></app-header>
<div class="custom-container">
  <div class="content">
    <div class="content-title poppin"  *ngIf="!loading">
      {{ type }}
    </div>

    <!-- Mostrar spinner cuando loading es true -->
    <div *ngIf="loading" class="spinner-container">
      <div class="spinner"></div>
    </div>
    <!-- Mostrar los datos cuando loading es false -->
    <ng-container *ngIf="!loading">
      <div class="grid-wrapper">
        <ng-container *ngFor="let recipe of recipes">
          <div class="grid-tile" [routerLink]="['/recipes', recipe.id]">
            <div class="grid-tile-img">
              <img [src]="recipe.image" />
            </div>
            <div class="grid-tile-text">
              <div class="grid-tile-title">
                {{ recipe.name }}
              </div>
              <div class="grid-tile-subtitle">
                <ng-container *ngFor="let type of recipe.types">
                  {{ type.name }}
                </ng-container>
              </div>
              <div class="grid-tile-description">
                {{ recipe.description }}
              </div>
              <div class="grid-tile-options">
                <button mat-flat-button class="bg-secondary">Save</button>
                <button
                  mat-flat-button
                  class="bg-secondary"
                  [routerLink]="['/recipes', recipe.id]">
                  Details
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
