<app-header></app-header>
<div class="recipe-image">
    <img src="assets/images/aboutus/recipe-about.png" alt="">
</div>
<div class="content-text">
    <h1>{{ 'commons.about' | translate }}</h1>
    <p>
       {{ 'aboutUs.description' | translate }}
    </p>
</div>
<div class="first-content">
    <div class="grey"></div>
    <div class="image"><img src="assets/images/aboutus/image 60.png" alt=""></div>
    <div class="text">
        <h3>{{ 'aboutUs.doingsTitle' | translate }}</h3>
        <p class="parraf-1">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis voluptatem neque aliquid
            sequi, quidem earum
            doloremque corporis sed cupiditate repudiandae provident natus vero error deleniti recusandae voluptatum
            modi quos aperiam!
        </p>
    </div>
    <div class="purple"></div>
</div>
<div class="content-images">
    <img class="image1" src="assets/images/aboutus/palillos.png" alt="">
    <img class="image2" src="assets/images/aboutus/chips.png" alt="">
    <img class="image3" src="assets/images/aboutus/burguer.png" alt="">
</div>
<div class="second-content">
    <div class="pink"></div>
    <div class="image-2"><img src="assets/images/aboutus/pasta-ge525ddd56_1920 1.png" alt=""></div>
    <div class="text2">
        <h3>{{ 'aboutUs.usTitle' | translate }}</h3>
        <p class="parraf-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis voluptatem neque aliquid
            sequi, quidem earum
            doloremque corporis sed cupiditate repudiandae provident natus vero error deleniti recusandae voluptatum
            modi quos aperiam!</p>
    </div>
    <div class="blue"></div>
</div>
<h2>{{ 'aboutUs.believings' | translate }}</h2>
<div class="third-content">
    <div class="target1">
        <div class="inside-content1">
            <img src="assets/images/aboutus/foto1.png" alt="">
        </div>
        <p>{{ 'aboutUs.fact1' | translate }}y</p>
    </div>
    <div class="target2">
        <div class="inside-content2">
            <img src="assets/images/aboutus/foto2.png" alt="">
        </div>
        <p>{{ 'aboutUs.fact2' | translate }}</p>
    </div>
    <div class="target3">
        <div class="inside-content3">
            <img src="assets/images/aboutus/foto3.png" alt="">
        </div>
        <p>{{ 'aboutUs.fact3' | translate }}</p>
    </div>
</div>
<app-footer></app-footer>