<app-header></app-header>
<div class="recipe-image">
    <img src="assets/images/about-us/recipe-about.png" alt="">
</div>
<div class="content-text">
    <h1>{{ 'commons.aboutus' | translate }}</h1>
    <p>{{ 'commons.phrase' | translate }}</p>
</div>
<div class="first-content">
    <div class="grey"></div>
    <div class="image"><img src="assets/images/about-us/image 60.png" alt=""></div>
    <div class="text">
        <h3>{{ 'commons.whatwedo' | translate }}</h3>
        <p class="parraf-1">{{ 'commons.transwhatwedo' | translate }}</p>
    </div>
    <div class="purple"></div>
</div>
<div class="content-images">
    <img class="image1" src="assets/images/about-us/palillos.png" alt="">
    <img class="image2" src="assets/images/about-us/chips.png" alt="">
    <img class="image3" src="assets/images/about-us/burguer.png" alt="">
</div>
<div class="second-content">
    <div class="pink"></div>
    <div class="image-2"><img src="assets/images/about-us/pasta-ge525ddd56_1920 1.png" alt=""></div>
    <div class="text2">
        <h3>{{ 'commons.whoweare' | translate }}</h3>
        <p class="parraf-2">{{ 'commons.transwhoweare' | translate }}</p>
    </div>
    <div class="blue"></div>
</div>
<h2>{{ 'commons.whatwebelieve' | translate }}</h2>
<div class="third-content">

    <div class="target1">
        <div class="inside-content1">
            <img src="assets/images/about-us/foto1.png" alt="">
        </div>
        <p>{{ 'commons.simple' | translate }}</p>
    </div>
    <div class="target2">
        <div class="inside-content2">
            <img src="assets/images/about-us/foto2.png" alt="">
        </div>
        <p>{{ 'commons.sustan' | translate }}</p>
    </div>
    <div class="target3">
        <div class="inside-content3">
            <img src="assets/images/about-us/foto3.png" alt="">
        </div>
        <p>{{ 'commons.eat' | translate }}</p>
    </div>
</div>
<app-footer></app-footer>
