<ng-container *ngIf="recipes; then recipeList; else noRecipes"></ng-container>

<ng-template #noRecipes>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh; font-size: 2rem;">No Recipes</div>
</ng-template>

<ng-template #recipeList>
    <div class="grid-wrapper">
        <ng-container *ngFor="let recipe of recipes ">
            <div class="grid-tile">
                <div class="grid-tile-img">
                    <img [src]="recipe.image">
                </div>
                <div class="grid-tile-text">
                    <div class="grid-tile-title text-main">
                        {{ recipe.name }}
                    </div>
                    <div class="grid-tile-subtitle">
                        <ng-container *ngFor="let type of recipe.types">
                        {{ type.name }}
                        </ng-container>
                    </div>
                    <div class="grid-tile-description">
                        {{ recipe.description }}
                    </div>
                    <div class="grid-tile-options">
                        <button mat-raised-button [routerLink]="['/recipes', recipe.id]">
                            {{ 'commons.viewDetailsBtn' | translate }}
                        </button>
                        <button mat-raised-button class="bg-secondary" [routerLink]="['/recipes/form', recipe.id]">
                            {{ 'commons.edit' | translate }}
                        </button>
                        <button mat-raised-button color="warn" (click)="delete(recipe)">
                            {{ 'commons.delete' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>

