<app-header></app-header>
<div class="content-contact container">
    <div class="contact-info">
        <div class="content-phrase">
            <h1>{{ 'commons.contact' | translate }}</h1>
            <p>
                {{ 'contact.description' | translate }}
            </p>
        </div>
        <div class="content-img">
            <img class="image-left" src="assets/images/contact/image-left.png" alt="">
            <div class="info">
                <img class="icon-mail" src="assets/images/iconos/mail.png" alt="">
                <p>Email</p>
                <p>info@gastrood.com</p>
                <img class="icon-phone" src="assets/images/iconos/phone.png" alt="">
                <p>Telephone</p>
                <p>+34 664 667 446</p>
            </div>
        </div>
    </div>
    <div class="content-form">
        <h2>{{ 'commons.contact' | translate }}</h2>
        <div class="form">
            <form onsubmit="return false">
                <input type="text" placeholder="User">
                <input type="text" placeholder="Email">
                <textarea name="description" id="desc" placeholder="{{ 'commons.description' | translate }}"></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>