<div class="parent">
    <div class="child">
        <table>
            <ng-container *ngFor="let section of contents?.footer_section">
                <tr *ngFor="let item of section.items">{{item.name}}</tr>
                <thead>
                    <tr>
                        <th>{{section.title}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of section.items">
                    </tr>
                </tbody>
            </ng-container>
        </table>
    </div>
</div>