.child {
    background-color: #E54B4B;
    width: 100%;
    height: 486px;
}

h1 {
    position: absolute;
    color: white;
    text-align: center;
    left: 35%;
    bottom: 45%;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 40px;
}
p{
    position: absolute;
    color: white;
    text-align: center;
    left: 46%;
    bottom: 38%;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 30px;
}
.content-follow {
    width: 100%;
    position: relative;
    margin-top: 200px;
}

.content-follow img {
    width: 100%;
}
.content-rrss{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 45%;
    bottom: 30%;
    align-items: center;
    gap: 15px;

}
.content-rrss .circle i{
    font-size: 1.7rem;
    padding-left: 10.5px;

    
}
.circle{
    height: 56px;
    width: 56px;
    background-color: white;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
}
.circle i{
    align-items: center;
}
.circle:nth-child(1):hover{
    background-color: #4267B2;
    border: none;
    color: #fff;
}
.circle:nth-child(2):hover{
    background-color: #FFA6E6;
    border: none;
    color: #fff;
}
.circle:nth-child(3):hover{
    background-color: #0A66C2;
    border: none;
    color: #fff;
}
.content-footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
iframe{
    width: 518px;
    height: 346px;
    margin-top: 50px;
}
.content-links{
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-right: 170px;
}
.links1, .links2, .links3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
h4{
    color: #fff;
    font-size: 24px;
}
.line{
    width: 90%;
    margin: 0px auto;
    border-bottom: 1px solid #ff9f9f;
    padding-top: 30px;
}
