<div class="parent">
    <div class="child">
        <img src="./assets/images/logo/Entire_Logo_White.jpg" alt="" [routerLink]="['/home']">
        <form>
            <input type="text" placeholder="Email" name="email" [(ngModel)]="user.email">
            <input type="password" placeholder="Password" name="password" [(ngModel)]="user.password">
            <button class="sign" (click)="login()">Login</button>
            <button class="gmail">Login with Google</button>
            <p class="highlight">Forget your password?</p>
            <p>Not a member?<span class="highlight" [routerLink]="['/register']"> Register</span></p>
        </form>
    </div>
</div>

