<!-- header.component.html -->

<header>
  <img class="logo-desk" src="./assets/images/logo/Header_Logo.jpg" alt="Gastrood" [routerLink]="['/home']" />
  <img class="logo-cell" src="./assets/images/logo/Mobile_Logo.jpg" alt="Gastrood" [routerLink]="['/home']" />
  <nav class="nav-desk">
    <ul>
      <li *ngFor="let site of header?.navbar">
        <a [routerLink]="site.href">{{ site.sitename }}</a>
      </li>
    </ul>
  </nav>
  <div class="search-bar icon">
    <i class="bi bi-search"></i>
    <input type="text" placeholder="Search" />
  </div>
  <div class="menu-icon icon" (click)="showMenu()">
    <i class="bi bi-list"></i>
  </div>
  <ng-container *ngIf="authService.isAuthenticated(); then authenticated; else unauthenticated"></ng-container>

  <ng-template #authenticated>
    <div class="user-profile d-flex justify-content-center align-items-center">
      <button class="btn btn-outline-dark create-recipes" [routerLink]="['/create-recipes']">
        <span class="plus-symbol">&plus;</span>
      </button>
      <div class="dropdown text-center">
        <img src="./assets/images/profile/faceprofiles.png" alt="face-profile" class="dropdown-toggle"
          data-bs-toggle="dropdown" aria-expanded="false">
        <ul class="dropdown-menu dropdown-menu-bottom bg-danger" style="border-radius: 0.5rem; padding: 0.5rem;">
          <li><button class="dropdown-item" (click)="authService.logout()">Logout</button></li>
          <li><a class="dropdown-item" [routerLink]="'/profile/view/'">Profile</a></li>
        </ul>
      </div>
    </div>
  </ng-template>

  <ng-template #unauthenticated>
    <form onsubmit="return false">
      <ng-container *ngFor="let button of header?.buttons">
        <button [routerLink]="button.href">{{ button.text }}</button>
      </ng-container>
    </form>
  </ng-template>
</header>