.content-main-recipes {
  width: 100%;
  margin-top: 100px;
}
.content-filter-recipes {
  width: 100%;
  max-width: 942px;
  height: 500px;
  background: #e54b4b;
  border-radius: 28px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  gap: 30px;
  justify-content: center;
}
span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.filter {
  width: 100%;
  max-width: 831px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.labels-recipes {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}
.label-recipe {
  width: 100%;
  max-width: 140px;
  height: 38px;
  background: #ff9f9f;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.closed {
  cursor: pointer;
}
/* by-recipe-or-ingredient */
.by-recipe-or-ingredient {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.by-recipe-or-ingredient input {
  width: 100%;
  max-width: 469px;
  height: 47px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.filter::placeholder, .by-recipe-or-ingredient input::placeholder{
    padding-left: 20px;
}
.by-recipe-or-ingredient button{
    width: 100%;
    max-width: 340px;
    height: 51px;
    background: #000000;
    border-radius: 8px;
    color:white;
    margin-right: 50px;
}

/* BEST RATED */
.content-best-rated{
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
}
.title-best-rated{
    
}