<app-header></app-header>
<div class="content-main-recipes">
  <div class="content-filter-recipes">
    <span>WITH</span>
    <input type="text" class="filter" placeholder="filter" />
    <div class="labels-recipes">
      <div class="label-recipe">
        <span>Tomatoes <span class="closed">X</span></span>
      </div>
      <div class="label-recipe">
        <span>Vegetables soupt <span class="closed">X</span></span>
      </div>
    </div>
    <span>WITHOU</span>
    <input type="text" class="filter" placeholder="filter" />
    <div class="labels-recipes">
      <div class="label-recipe">
        <span>Tomatoes <span class="closed">X</span></span>
      </div>
      <div class="label-recipe">
        <span>Vegetables soupt <span class="closed">X</span></span>
      </div>
    </div>
    <div class="by-recipe-or-ingredient">
      <input type="text" placeholder="By Recipe or ingredient" />
      <button class="search">Search</button>
    </div>
  </div>
  <div class="title-best-rated">
    <h1>BEST RATED</h1>
  </div>
  <div class="content-best-rated">
    <div class="card-recipes-rated">
      <div class="content-images">
        <img
          src="../../../assets/images/recipes/images (1).png"
          alt="image-1"
        />
        <div class="icons-card">
          <img
            src="../../../assets/images/recipes/image 72.png"
            alt="icon-message"
          />
          <img
            src="../../../assets/images/recipes/image 73.png"
            alt="icon-share"
          />
          <img
            src="../../../assets/images/recipes/image 74.png"
            alt="icon-heart"
          />
        </div>
      </div>
      <div class="description-recipes">
        <h3>Espagettis a la putanesca</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto
          ad eaque aut deleniti porro repudiandae! A perspiciatis earum facilis
          itaque molestias cum, illum ipsam officiis, quia amet reiciendis et
          quam?
        </p>
      </div>
      <div class="icons-options">
           <span>32m</span>
           <img src="../../../assets/images/recipes/image 71.png" alt="">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
