<h1>CATEGORIES</h1>
<div class="content-cards">
    <div class="card" style="width: 18rem;">
        <img src="assets/images/categories/spanian.jpg">
        <div class="card-body">
            <h3 class="titulos">Spanish</h3>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/images/categories/japanase.jpg">
        <div class="card-body">
            <h3 class="titulos">Japanese</h3>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/images/categories/korean.jpeg">
        <div class="card-body">
            <h3 class="titulos">Korean</h3>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/images/categories/mexico.jpg">
        <div class="card-body">
            <h3 class="titulos">Mexican</h3>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/images/categories/canadian.jpg">
        <div class="card-body">
            <h3 class="titulos">Canadian</h3>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="assets/images/categories/peruvian.jpg">
        <div class="card-body">
            <h3 class="titulos">Peruvian</h3>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>
</div>