<app-header></app-header>
<div class="container-recipes">
  <div class="content-title">
    <h1>
      CREATE YOUR RECIPE
    </h1>
  </div>
  <div class="content-ingredient">
    <div class="min-content-ingredient">
      <div class="add-ingredient">
        <input type="text" placeholder="ingredient..." />
        <button>Add</button>
      </div>
      <div class="content-steps">
        <div class="content-show-recipes">
          <h3>Step 1</h3>
          <div class="message-step">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
              dolorum nesciunt cumque molestias accusantium natus incidunt impedit
              corporis. Impedit, molestias earum? Nemo dolore adipisci quod optio
              distinctio quisquam officiis nobis?
            </p>
          </div>
        </div>
      
        <div class="input-file">
          <input type="file" id="file-input" name="file" />
          <label for="file-input">
            <img
              src="../../../assets/images/create-recipes/icon-camara.png"
              alt="Icono de cámara"
            />
          </label>
          <div class="preview-container"></div>
        </div>
        <div class="input-file">
          <input type="file" id="file-input2" name="file2" />
          <label for="file-input2">
            <img
              src="../../../assets/images/create-recipes/icon-camara.png"
              alt="Icono de cámara"
            />
          </label>
          <div class="preview-container2"></div>
        </div>
      </div>
    </div>

    <div class="content-show-labels-ingredients"> 
      <div class="ingredients-type"> 
        <p>Ingredients of your recipes</p>
      </div>
      <div class="show-labels-ingredients">
        
      </div>
    </div>

  </div>
</div>
