<app-header></app-header>
<div class="custom-container">
    <div class="banner-image">
        <img src="/assets/images/backgrounds/category-sec-bg.jpg">
    </div>
    <div class="content">
        <div class="wraper">
            <div class="profile-header">
                <div class="profile-image col-3">
                    a
                </div>
                <div class="profile-text">
                    {{ profile.firstName }}
                </div>
                <div class="profile-options">
                    as
                </div>
            </div>
        </div>
    </div>
</div>