<app-header></app-header>
<ng-container *ngIf="profile; then renderProfile; else spinner"></ng-container>

<ng-template #spinner>
    <app-spinner></app-spinner>
</ng-template>

<ng-template #renderProfile>
    <div class="custom-container">
        <div class="banner-image">
            <img [src]="profile.bannerImg">
        </div>
        <div class="content">
            <div class="wraper">
                <div class="profile-header">
                    <div class="profile-image">
                        <img [src]="profile.profileImg" alt="">
                    </div>
                    <div class="profile-text">
                        <div class="profile-name">
                            {{ profile.firstName }} {{ profile.lastName }} <span class="username">{{ profile.username}}</span>
                        </div>
                        <div class="profile-bio">
                            {{ profile.biography }}
                        </div>
                        <div class="profile-web" *ngIf="profile.websiteUrl">
                            <mat-icon style="margin-right: 5px;">public</mat-icon>
                            <a [href]="profile.websiteUrl" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="profile-options" *ngIf="userProfile">
                        <div class="option-btn bg-main text-white" [routerLink]="['/recipes/form']">
                            <mat-icon>add</mat-icon>
                            {{ 'recipes.createViewTitle' | translate }}
                        </div>
                        <div class="option-btn bg-white" [routerLink]="['/profile', profile.username, 'edit']">
                            <mat-icon>edit</mat-icon>
                            {{ 'profile.editViewTitle' | translate }}
                        </div>
                    </div>
                </div>
                <div class="profile-nav">
                    <div class="nav-tab">
                        {{ 'commons.recipes' | translate }}
                    </div>
                    <div class="nav-tab">
                        Likes
                    </div>
                    <div class="nav-tab">
                        {{ 'commons.comment' | translate }}
                    </div>
                </div>
                <app-profile-recipes [recipes]="profile.recipes" (reload)="reloadRecipes()"></app-profile-recipes>
            </div>
        </div>
    </div>
</ng-template>

<app-footer></app-footer>