<div class="parent">
    <div class="child">
        <img src="./assets/images/logo/Entire_Logo_White.jpg" alt="" [routerLink]="['/home']">
        <form>
            <input type="text" placeholder="First Name" name="firstName" [(ngModel)]="profile.firstName">
            <input type="text" placeholder="Last name" name="lastName" [(ngModel)]="profile.lastName">
            <input type="text" placeholder="Email" name="email" [(ngModel)]="user.email">
            <input type="text" placeholder="Password" name="password" [(ngModel)]="user.password">
            <button class="sign" (click)="register()">Register</button>
            <button class="gmail">Sign up with Google</button>
            <p>Already registered? <span class="highlight" [routerLink]="['/login']">Login</span></p>
        </form>
    </div>
</div>