<div class="parent">
    <div class="child">
        <img src="./assets/images/logo/Entire_Logo_White.jpg" alt="">
        <form>
            <input type="text" placeholder="Nickname">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Password">
            <input type="text" placeholder="Confirm Password">
            <button class="sign">Register</button>
            <button class="gmail">Sign up with Google</button>
            <p>Already registered? <span class="highlight" [routerLink]="['/login']">Login</span></p>
        </form>
    </div>
</div>