<app-header></app-header>
<div class="content-edit-profile">
    <div class="cabezera-image">
        <img src="assets/images/edit-profile/edit-profile.png" alt="edit-profile">
    </div>
    <div class="second-header">
        <div class="content-info-recipes">
            <a>Recipes</a>
            <a>Post</a>
        </div>
        <div class="face-profile">
            <img src="assets/images/edit-profile/face-profile.png" alt="edit-profile">
            <div class="content-profile">
                <h1>Profile</h1>
                <span>update your photo and personal details</span>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>