.content-edit-profile {
    width: 100%;
}

.cabezera-image {
    width: 100%;
}

.cabezera-image img {
    width: 100%;
    object-fit: contain;
}

.second-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: rgba(229, 75, 75, 0.85);
    width: 100%;
    height: 76px;
}

.content-info-recipes,
.face-profile {
    margin-left: 20px;
    margin-right: 20px;
}
.content-profile{
    padding-top: 40px;
}
.content-info-recipes a {
    height: 50px;
    background: #E54B4B;
    border: 1.5px solid #FF6584;
    border-radius: 50px;
    padding: 10px;
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
    margin-left: 15px;
    cursor: pointer;
}

.content-info-recipes {
    margin-top: 20px;
}

.face-profile {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.block-image img {
    position: relative;
    object-fit: contain;
}

.content-profile {
    width: 50%;
    margin-top: 150px;
}

.content-profile h1 {
    font-weight: 500;
    font-size: 40px;
    color: #000000;
}

.content-profile span {
    font-weight: 200;
    font-size: 20px;
    color: #000000;
}

/* Content-Forms */
.content-forms {
    margin-top: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.emails-forms span{
    display: inline-block;
    width: 286px;
    text-align: center;
    margin-left: 5px;
}
.email{
    height: 54px;
    border-top-left-radius: 0.45rem !important;
    border-bottom-left-radius: 0.45rem !important;
    margin-top: 20px;
}
.username-form {
    width: 55%;
}

.text-forms {
    margin-right: 200px;
}

.span {
    border-top-left-radius: 0.55rem !important;
    border-bottom-left-radius: 0.55rem !important;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.text-forms p {
    margin: 0px;
    padding: 10px;
    font-weight: 500;
    font-size: 21px;
    color: #000000;
}

.website-form {
    width: 55%;
    margin-top: 50px;
    border-top: 2px solid gray;
    padding-top: 50px;
}
.emails-forms p {
    margin: 0px;
    padding: 10px;
    font-weight: 500;
    font-size: 21px;
    color: #000000;
}
.website-forms p {
    margin: 0px;
    padding: 10px;
    font-weight: 500;
    font-size: 21px;
    color: #000000;
}
.email-forms{
    width: 55%;
    margin-top: 50px;
    border-top: 2px solid gray;
    padding-top: 50px;
}
.emails-forms{
    margin-right: 217px;
}

.website-forms {
    margin-right: 217px;
}

.photo-forms {
    margin-right: 217px;
}

.photo-forms p {
    margin: 0px;
    padding: 10px;
    font-weight: 500;
    font-size: 21px;
    color: #000000;
}
.emails-forms span{
    font-weight: 200;
    font-size: 18px;
    color: #000000;
}
.photo-forms span {
    font-weight: 200;
    font-size: 18px;
    color: #000000;
}

.btns {
    width: 44%;
    text-align: center;
    line-height: 3;
}

.btns a {
    display: inline-block;
    height: 39px;
    width: 165px;
    background: #E54B4B;
    border: 1px solid #FF6584;
    border-radius: 50px;
    margin-left: 65.5px;
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
    cursor: pointer;
}

/* Description Form */
.description-form {
    width: 55%;
    margin-top: 50px;
    border-top: 2px solid gray;
    padding-top: 50px;
}

.description-forms {
    width: 590px;
    height: 304px;
    background: #FFFFFF;
    border-radius: 16px;
    border-top-left-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
}
/* Section Change Password */
.change-password-form{
    width: 55%;
    margin-top: 50px;
    border-top: 2px solid gray;
    padding-top: 50px;
}
.change-password-form input{
    border-top-left-radius: 0.45rem !important;
    border-bottom-left-radius: 0.45rem !important;
}
.change-password{
    width: 56.5%;
    margin-top: 5px;
    padding-top: 20px;
}
.change-password input{
    margin-right: 10px;
    border-top-left-radius: 0.45rem !important;
    border-bottom-left-radius: 0.45rem !important;
}
.repeat-password{
    width: 59.4%;
    margin-top: 5px;
    padding-top: 20px;
}
.repeat-password input{
    margin-right: 25px;
    border-top-left-radius: 0.45rem !important;
    border-bottom-left-radius: 0.45rem !important;
}

.message-icon{
    position: absolute;
    left: 517px;
    top: 84px;
    z-index: 1;
}
.email{
    padding-left: 40px;
}

@media only screen and (max-width: 1600px) {
    .website-form {
        width: 67%;
    }
    .description-form {
        width: 64%;
    }
    .username-form {
        width: 68%;
    }
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .content-profile {
      margin-top: 80px; 
    }
    
    .face-profile {
      width: 60%;
    }
    
    .content-forms {
      margin-top: 100px;
    }
    
    .btns {
      width: 80%;
    }
    
    .btns a {
      width: 100%;
      margin-left: 0px;
      margin-top: 10px;
    }
    
    .description-form {
      width: 80%;
      margin-top: 50px;
      padding-top: 20px;
    }
    
    .description-forms {
      width: 100%;
      height: 200px;
    }
    
    .change-password-form {
      width: 80%;
      margin-top: 50px;
      padding-top: 20px;
    }
  }
  
  /* Tablet */
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    .content-profile {
      margin-top: 100px;
    }
    
    .face-profile {
      width: 50%;
    }
    
    .content-forms {
      margin-top: 100px;
    }
    
    .btns {
      width: 60%;
    }
    
    .description-form {
      width: 60%;
      margin-top: 50px;
      padding-top: 20px;
    }
    
    .description-forms {
      width: 100%;
      height: 250px;
    }
    
    .change-password-form {
      width: 60%;
      margin-top: 50px;
      padding-top: 20px;
    }
  }
  