<app-header></app-header>
<div class="recipe-image">
    <img src="assets/images/aboutus/recipe-about.png" alt="">
</div>
<div class="content-text">
    <h1>About Us</h1>
    <p>!Hello! Gastrood we are a young company that we love to continue renewing the world of cooking, we are aware of
        how important it is to take care of food health, and that is why we offer you the best recipes so that you can
        share with friends, family, and we are delighted to Being able to be with you accompanying you on your food
        journeys.</p>
</div>
<div class="first-content">
    <div class="grey"></div>
    <div class="image"><img src="assets/images/aboutus/image 60.png" alt=""></div>
    <div class="text">
        <h3>What we do</h3>
        <p class="parraf-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis voluptatem neque aliquid
            sequi, quidem earum
            doloremque corporis sed cupiditate repudiandae provident natus vero error deleniti recusandae voluptatum
            modi quos aperiam!</p>
    </div>
    <div class="purple"></div>
</div>
<div class="content-images">
    <img class="image1" src="assets/images/aboutus/palillos.png" alt="">
    <img class="image2" src="assets/images/aboutus/chips.png" alt="">
    <img class="image3" src="assets/images/aboutus/burguer.png" alt="">
</div>
<div class="second-content">
    <div class="pink"></div>
    <div class="image-2"><img src="assets/images/aboutus/pasta-ge525ddd56_1920 1.png" alt=""></div>
    <div class="text2">
        <h3>Who we are</h3>
        <p class="parraf-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis voluptatem neque aliquid
            sequi, quidem earum
            doloremque corporis sed cupiditate repudiandae provident natus vero error deleniti recusandae voluptatum
            modi quos aperiam!</p>
    </div>
    <div class="blue"></div>
</div>
<h2>What we believe</h2>
<div class="third-content">

    <div class="target1">
        <div class="inside-content1">
            <img src="assets/images/aboutus/foto1.png" alt="">
        </div>
        <p>As simple as response to reality</p>
    </div>
    <div class="target2">
        <div class="inside-content2">
            <img src="assets/images/aboutus/foto2.png" alt="">
        </div>
        <p>Sustainability is achieved with small actions</p>
    </div>
    <div class="target3">
        <div class="inside-content3">
            <img src="assets/images/aboutus/foto3.png" alt="">
        </div>
        <p>Eat well without feeling bad</p>
    </div>
</div>
<app-footer></app-footer>

