<app-header></app-header>
<ng-container *ngIf="!fetching; then recipeForm; else spinner"></ng-container>

<ng-template #spinner>
    <app-spinner></app-spinner>
</ng-template>

<ng-template #recipeForm>
    <div class="custom-container">
        <div class="content">
            <mat-card class="wrapper">
                <mat-card-title>CREATE YOUR RECIPE</mat-card-title>
                <div class="d-inline-block mx-4" style="width: 45%;">
                    <div class="card-img">
                        <img [src]="imageUrl">
                    </div>
                    <mat-form-field appearance="fill">
                        <input matInput value="Select Image">
                        <input type="file" id="fileInput" (change)="onFileSelect($event)" required>
                    </mat-form-field>
                </div>
                <div class="d-inline-block mx-2" style="width: 45%;">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput [(ngModel)]="recipe.name" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea matInput [(ngModel)]="recipe.description" required
                            class="card-description"></textarea>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Recipes</mat-label>
                        <mat-select [(ngModel)]="recipe.types" multiple required>
                            <mat-option *ngFor="let type of recipeTypes" [value]="type.id">{{ type.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-card-actions class="ms-2 mt-2">
                        <button mat-raised-button class="px-4 py-2"
                            matTooltip="{{( recipe.id ? 'commons.updateBtn' : 'commons.createBtn') | translate }}"
                            color="primary" type="submit" (click)="recipe.id ? update() : create()">
                            <mat-icon class="responsive-icon">check</mat-icon>
                            <span class="btn-text">{{( recipe.id ? 'commons.updateBtn' : 'commons.createBtn') |
                                translate }}</span>
                        </button>
                        <button mat-raised-button matTooltip="{{ 'commons.cancel' | translate }}" color="warn"
                            class=" ms-3 px-4 py-2" (click)="back()">
                            <mat-icon class="responsive-icon">close</mat-icon>
                            <span class="btn-text">{{ 'commons.cancel' | translate }}</span>
                        </button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
</ng-template>
