@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300;400;700&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Roboto", sans-serif;
}
html, body{
    background-color: #EAEAEA;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
 }
::-webkit-scrollbar {
    display: none;
}

.main-color{
    background-color: #E54B4B;
}
.highlight{
    color: rgb(155, 161, 255);
    cursor: pointer;
}
.poppin{
    font-family: "Poppins";
}
.font-weight-normal{
    font-weight: 400;
}